!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Convite de Casamento</title>
        <style>
        
        #tudo{background-color:rgb(245, 242, 210);}
        
        h1{color:pink;
            font-family:Verdana;
            font-size:25px;
        }
        h2{color:rgb(220, 170, 240);
            font-size:20px;
        }
        #escrita{color:#800080;
            font-family:verdana;
            font-size:15px;
            line-height:25px;}
        p{color:rgb(204, 125, 204);
            font-family:Verdana;
        }
        li{color:rgb(207, 153, 60);
            font-family:Calibri;
            line-height:25px;
            font-size:17px;
            
        }
        h3{color:#800080;
            font-family:Calibri;
            
        }
        img{
        width:300px;
        float:right;
        margin:50px;
        
        
            
        }
        
        
        
        </style>
    </head>
    <body id="tudo">
        
        <h1>Você é meu convidado</h1>
        <h2>Para <u>Georgina</u></h2>
        <p id="escrita">Venha comemorar meu aniversário comigo e relembrar nossas memórias. Te espero lá com um presentinho ein!? rs
    <img src= "https://i.pinimg.com/originals/d1/e2/e2/d1e2e2444d2e28da19df758bf36e3d6e.gif">
    
        </p>
        
        <p><u>Detalhes</u></p>
        <ul>
            <li> Dia 15/12/2023 (sexta-feira)</li>
            <li> 19 horas</li>
            <li> Casarão Old (Rua Centenario 15, São Paulo) </li>
            <li> Este convite permite levar + 1 acompanhante</li>
            <li> <em>No dress code</em></li>
        </ul>
        
        <h3>Camilla Relveter</h3>
        
    </body>
</html>
